{% set prevPage = curPage - 1 %}
{% set nextPage = curPage + 1 %}

{% if numPages > 1 %}
    <div class="text-center">
        <ul class="pagination pagination-sm">

            {% if curPage > 1 %}
                <li class="previousPage"><a href="{{ path('overview') }}?p={{ prevPage }}" data-p="{{ prevPage }}">< Previous</a></li>
            {% else %}
                <li class="previousPage disabled"><span>< Previous</span></li>
            {% endif %}

            {% for page in paginationSequence %}
                <li {% if page == curPage %} class="active"{% endif %}{% if page == '...' %} class="disabled"{% endif %}>
                    {% if page == curPage %}
                        <span>{{ page }}</span>
                    {% elseif page == '...' %}
                        <span>…</span>
                    {% else %}
                        <a href="{{ path('overview') }}?p={{ page }}" data-p="{{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            {% if curPage < numPages %}
                <li class="nextPage"><a href="{{ path('overview') }}?p={{ nextPage }}" data-p="{{ nextPage }}">Next ></a></li>
            {% else %}
                <li class="nextPage disabled"><span>Next ></span></li>
            {% endif %}

        </ul>

        <p class="text-muted">
            <em>{{ numItems }} items</em>
        </p>
    </div>
{% endif %}